*, 
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  
}

html::-webkit-scrollbar {
  width: 12vw;
}

html::-webkit-scrollbar-thumb {
  background-color: red;
}
html::-webkit-scrollbar-track {
  background-color: green;
}

body {
  font-size: 1.6rem;
  margin: 0;
  font-family: "Lack",-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #00050F;
  
  color:#FFFFFF;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
